server:
  port: 8080

spring:
  application:
    name: MyTest #在使用spring cloud时，会使用这个名字在Eureka中注册#
  http:
    encoding:
      enabled: true
      charset: utf-8
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      bootstrap-servers: localhost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

myConfig:
  demo1:
    name: "zhangsan"
    age: 20

logging:
  level:
    root: INFO